/*
   Routegadget RG2 Custom CSS
*/

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   border: 0;
   display: block;
   font: 16px/26px Helvetica,Arial,sans-serif;
   font: 16px/26px -apple-system,"Roboto","Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
   box-sizing: border-box;
   overflow: hidden;
}
div, div:before, div:after, textarea {
   box-sizing: inherit;
}

/* this definition was removed from later versions of normalize and therefore it broke RG2 dialog layout */
table {
   border-collapse: collapse;
   border-spacing: 0;
}

#rg2-header-container {
   background: #002bd9;
   color: white;
   position: relative;
   /* height: 30px; */
   min-width: 320px;
   /* border-bottom: 4px solid black; */
   font-size: 20px;
   line-height: 30px;
   width: 100%;
   /* box-sizing: content-box; */
}

#rg2-header-container-border {
   background: #000000;
   background: rgba(0,0,0,1);
   height: 4px;
   width: 100%;
}

.rg2-result-search {
   width: 97%;
   margin: 3px;
}

.rg2-event-search {
   width: 97%;
   margin: 3px;
   font-size: 1em;
}

.input-group {
   margin-top: 5px;
}

.form-control {
   width: 90%;
}
#rg2-course-select, #rg2-name-select {
   width: 99%;
}
#rg2-name-entry, #rg2-time-entry {
   float: right;
   width: 200px;
   min-width: 200px;
   max-width: 200px;
}

#rg2-manager-event-select {
   /*margin-top:100px;*/
   width: 100%;
}

#rg2-new-comments {
   margin: 4px 0;
   width: 100%;
   height: 50px;
   max-width: 300px;
   max-width: 100%;
}

.rg2-ani-row {
   background: silver;
   color: white;
   position: absolute;
   vertical-align: middle;
   height: 36px;
   width: 100%;
   max-width: 348px; /* content-box sizing -> max-width - border size */
   right: 0;
   border: 4px solid darkgray;
   z-index: 70;
   line-height: 36px;
   box-sizing: content-box;
}

.row-1 {
   bottom: 120px;
   font-size: 20px;
}

.row-2 {
   bottom: 80px;
}

.row-3 {
   bottom: 40px;
   color: black;
}

.row-4 {
   bottom: 0;
   color: black;
}

#rg2-header-title {
   white-space: nowrap;
   overflow: hidden !important;
   /* text-overflow: ellipsis; */
   min-width: 100px;
}

#rg2-resize-info {
   /* position: absolute; */
   vertical-align: middle;
   /* padding-right: 10px; */
   line-height: 0;

}

#rg2-header {
   /* position: absolute; */
   vertical-align: middle;
   /* left: 35px; */
   padding: 0 8px;
   /* display: inline-block; */
   white-space: nowrap;
   overflow: hidden !important;
   text-overflow: ellipsis;
}
/*
#rg2-header span {
   vertical-align: middle;
}
*/
#rg2-header .fa {
   padding-right: 8px;
}

#rg2-header-club {
   /* float: right; */
   vertical-align: middle;
   text-align: left;
   white-space: nowrap;
   overflow: hidden !important;
   text-overflow: ellipsis;
   /* margin: 0 8px; */
   min-width: 50px;
   padding: 0 8px;
}
/*
#rg2-header-club span {
   vertical-align: middle;
}
*/
#rg2-header-club a, 
#rg2-header-club a:link,
#rg2-header-club a:active {
   color: inherit;
   text-decoration: none;
   cursor: pointer;
}

#rg2-header-club a:hover {
   /* color: inherit; */
   color: darkgray;
   /* cursor: pointer; */
}
#rg2-header-buttons {
   border-top: 2px solid black;
   box-sizing: content-box;
   margin: 0;
}

.rg2-button {
   background: silver;
   background-clip: padding-box;
   color: white;
   float: right;
   width: 30px;
   text-align: center;
   border-left: 4px solid darkgray;
   cursor: pointer;
}

.rg2-wide-button {
   background: silver;
   background-clip: padding-box;
   color: white;
   float: right;
   width: 64px;
   text-align: center;
   border-left: 4px solid darkgray;
   cursor: pointer;
}
#rg2-header-buttons .rg2-button,
#rg2-header-buttons .rg2-wide-button {
   background: silver;
   background: rgba(192,192,192,0.5);
   border-left: 4px solid darkgray;
   border-left: 4px solid rgba(169,169,169,0.5);
}
#rg2-header-buttons div:first-of-type {
   border-right: 4px solid darkgray;
   border-right: 4px solid rgba(169,169,169,0.5);
}
.rg2-button:hover,
.rg2-wide-button:hover {
   color: darkgray;
}

#rg2-splitsbrowser {
   line-height: 0;
   background-color: white;
}

#btn-edit-delete-event, #btn-add-event {
   margin: 0 auto;
   display: block;
   background: silver;
}

#rg2-about {
   position: absolute;
   right: 0;
   padding-right: 20px;
}

#rg2-about-dialog {
   font-size: 0.75em;
   display: none;
   margin-top: .5em;
   z-index: 100;
}

#rg2-about-dialog hr {
   height: 10px;
   border: 0;
   box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#rg2-about-dialog table {
   width: 100%;
}

#rg2-about-dialog thead tr {
   background: #bbb;
}

#rg2-about-dialog thead th {
   text-align: left;
}

#rg2-about-dialog tbody tr:nth-child(odd) {
   background: #eee;
}

#rg2-about-dialog tbody td:first-child {
   width: 15%;
}

#rg2-about-dialog tbody td {
   text-align: left;
}

.splitstable {
   font-size: 0.75em;
}

.splitstable th {
   font-weight: bold;
   background-color: white;
}
.splitstable th, .splitstable td {
   padding: 1px 5px;
   vertical-align: top;
   white-space: nowrap;
}
.splitstable td:nth-of-type(1n+3) {
   border-left: 1px solid darkgray;
}
.splitsname-row {
   background-color: #C0C0C0;
}

.splitstime-row {
   background-color: #E0E0E0;
}


.splitsdistance-row {
   background-color: white;
}

.showcourse {
   float: right;
}
.event-info-icon {
   margin-top: 3px;
   float: right;
}

.allitemsrow {
   font-weight: bold;
}

.rg2-hr {
   margin-top: 10px;
   margin-bottom: 10px;
}

#rg2-clock {
   font-weight: bold;
   font-size: 26px;
   color: black;
   text-align: center;
}

#rg2-tails-type {
   padding-left: 5px;
   /* width: 100px; */
}
/*
#spn-tail-length {
   width: 30px;
}
*/
#rg2-tails-spinner {
   float: right; /* flexbox */
   padding-right: 5px;
   padding-left: 5px;
   border-left: 4px solid darkgray;
   overflow: hidden;
   white-space: nowrap;
}
#rg2-tails-spinner_div {
   height: 22px;
   line-height: 22px;
   margin-top: 2px;
   display: inline-block;
   clear: both;
   font-size: 1em;
}

#spn-map-intensity, #spn-course-width, #spn-route-width, #spn-name-font-size, #spn-route-intensity, #spn-control-circle, #spn-offset {
   width: 40px;
}

.options {
   float: right;
   padding-right: 5px;
   margin-top: 5px;
   clear:both;
}
#rg2-snap-toggle, #rg2-show-seconds, #rg2-show-GPS-speed {
   line-height: 1.75em;
}

#rg2-container {
   height: 100%;
   width: 100%;
   position: relative;
   background: white;
   overflow: hidden;
   display: none;
}

.ui-spinner-button {
   width: 1.5em;
}

#rg2-info-panel {
   font-size: 0.85em;
   width: 100%;
   max-width: 360px; /* border-box */
   position: absolute;
   z-index: 80;
   height: 100%;
   padding: 3px; /* for js height calculation */
}

#rg2-info-panel-tab-headers {
   overflow: hidden;
   position: relative;
}

#rg2-info-panel-tab-headers .ui-tabs-nav a {
   padding: .5em .5em;
}

#rg2-info-panel-tab-body {
   overflow: auto; /* add scroll bars if needed */
   height: 100%;
   margin: 2px;
}

#rg2-event-list .ui-menu-item {
   list-style-image: none;
   /* padding-right: 0.4em; */
   white-space: nowrap;
   overflow: hidden !important;
   text-overflow: ellipsis;
}

#rg2-event-list .ui-menu-item a {
   text-decoration: none;
}
.ui-menu .ui-menu-item-wrapper {
   box-sizing: border-box;
   padding: 1px .4em;
   overflow: hidden;
   white-space: nowrap;
}
#rg2-event-list li:nth-child(odd) {
   background: #eee;
}
#rg2-event-list li:first-child {
   border-top-left-radius: inherit;
   border-top-right-radius: inherit;
}
#rg2-event-list li:last-child {
   border-bottom-left-radius: inherit;
   border-bottom-right-radius: inherit;
}
/*
#rg2-event-list li.rg2-active-event a {
   color: white;
} */
#rg2-event-list .rg2-active-event {
   border: 2px solid black;
   margin: 0 -1px;
   /* background: #002bd9; */
   -webkit-border-radius: inherit;
   -moz-border-radius: inherit;
   border-radius: inherit;
}

#rg2-event-list li > .ui-state-active {
   border:1px solid #444444;
   /* background:#dadada url("http://code.jquery.com/ui/1.11.3/themes/smoothness/images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x; */
   background:#cccccc url("http://code.jquery.com/ui/1.11.3/themes/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
   -webkit-border-radius: inherit;
   -moz-border-radius: inherit;
   border-radius: inherit;
   font-weight: bold;
}
#rg2-event-list li > .ui-state-active.rg2-active-event {
   border: 2px solid #444444;
}

#rg2-hide-info-panel-control {
   position: absolute;
   visibility: hidden;
   left: 360px;
   /* float: left; */
   /* top: 4px; */
   z-index: 90;
   color: black;
   width: 20px;
   margin: 10px 0;
   padding: 3px 0 2px 0;
   text-align: center;
   border: 1px solid #AAAAAA;
   background: #E0E0E0;
}
/*
#rg2-hide-info-panel-control2 {
   z-index: 90;
   width: 100%;
   margin: 5px;
}
*/
#rg2-map-canvas {
   position: absolute;
   z-index: 50;
}

.rg2-progress-display {
   border: 1px solid darkgray;
   background: #C0C0C0; /* Fallback */
   background: rgba(204, 204, 204, 0.8);
   padding : 2px;
   font:1.0em/1.0em arial;
   text-align:center;
   height: auto;
   width: 200px;
   z-index: 70;
   position: absolute;
}

#rg2-map-load-progress {
   top: 100px;
   left: 400px;
}

#rg2-load-progress {
   top: 200px;
   left: 400px;
}

.rg2-gps-text {
   line-height: 1.75em;
}

.rg2-gps-text ul {
   list-style-position: inside;
   margin: 0 0 0 15px;
   padding: 0;
}

.track-names {
   border: 1px solid darkgray;
   background: rgb(204, 204, 204);
   background: rgba(204, 204, 204, 0.75);
   padding : 2px;
   position: absolute;
   font:0.75em arial;
   top: 0;
   right: 0;
   height: auto;
   width: auto;
   z-index: 60;
   max-height: 500px;
   overflow: auto;
}
.track-names td {
   padding : 0 4px;
}

.align-right {
   text-align: right;
}

.align-left {
   text-align: left;
}

.track-names th {
   background: rgb(150, 150, 150);
   background: rgba(150, 150, 150, 0.75);
   text-align: left;
   padding: 0 5px;
}

#rg2-replay-start-control {
   /* float: left; // flexbox */
   padding-left: 5px;
   padding-right: 5px;
   overflow: hidden;
   white-space: nowrap;
}

.pushright {
   float: right;
}

.singlerow {
   display: table;
   margin: auto;
   width: 99%;
   padding: 0.5em 0;
   text-align: left;
}

.singlerowitem {
   display: table-cell;
}

#rg2-manage-edit .ui-button {
   margin-top: 10px;
   margin-bottom: 10px;
}

/* mass start/real time icon colour */
.active {
   color: green;
}

/* light green background*/
.valid {
   background-color: #99ffcc;
   border-radius: 3px;
}
/*
.coursemenutable tr, td, th {
   padding-left: 5px;
   padding-right: 5px;
   text-align: center;
}
*/
p.showcourse {
   padding-left: 5px;
}

/* apply style to first td or th element in table
/ which is Name in this case
*/
table.resulttable td,
table.resulttable th,
table.coursemenutable td,
table.coursemenutable th {
   padding-left: 5px;
   padding-right: 5px;
   text-align: center;
   /* vertical-align: top; */
}

table.resulttable td:first-child + td,
table.resulttable th:first-child + th,
table.coursemenutable td:first-child,
table.coursemenutable th:first-child {
   width: 80%;
   text-align: left;
}

table.resulttable tbody tr:nth-child(odd),
table.coursemenutable tbody tr:nth-child(odd) {
   /* background: #eee; */
   background: #808080; /* Fallback */
   background: rgba(128, 128, 128, 0.1);
}

#rg2-result-list .ui-accordion,
#rg2-result-list .ui-accordion-content {
   padding: 0;
}


#rg2-select-gps-file .ui-button {
   width: 100%;
   margin-bottom: 10px;
}

#rg2-load-gps-file {
   box-sizing: border-box;
}

#rg2-button-bar .ui-button-text-icon-primary,
#rg2-button-bar .ui-button-text,
#rg2-button-bar .ui-button-text-icons,
#rg2-button-bar .ui-button-text {
   font-size: 0.75em;
   padding: .2em .2em .2em 1em;

}

#rg2-clock-slider {
   margin: 10px 15px;
   width: 250px;
}

#rg2-clock-slider .ui-state-default {
   background: silver;
   border: 2px solid darkgray;
}

#rg2-clock-slider .ui-state-focus {
   outline: none;
}

#rg2-clock-slider .ui-state-hover {
   background: darkgray;
}

#rg2-clock-slider .ui-slider-handle {
   width: 12px;
   height: 20px;
}
/*
#rg2-tails-spinner .ui-widget-content {
   border: 2px solid darkgray;
}

#rg2-tails-spinner .ui-spinner {
   display: inline;
}

#rg2-tails-spinner .ui-state-default {
   background: silver;
   color: darkgray;
}

#rg2-tails-spinner .ui-state-active {
   color: silver;
}
*/
#rg2-tails-spinner .ui-spinner input {
   /* font: 16px Helvetica, Helvetica Neue, Arial; */
   font-weight: bold;
   /* margin-bottom: 9px; */
   width: 26px;
   line-height: 22px;
   margin-top: 0;
   margin-bottom: 1px;
   padding: 1px;
}

#rg2-event-comments, #rg2-edit-event-comments {
   margin-top: 5px;
   margin-bottom: 5px;
   width: 100%;
   height: 50px;
   max-width: 300px;
   max-width: 100%;
}

#rg2-add-new-event .ui-button {
   margin-top: 10px;
   margin-bottom: 10px;
}

#rg2-new-event-details input {
   margin-top: 5px;
   margin-bottom: 5px;
}
/* spinner icons */
#rg2-tails-spinner .ui-icon,
#rg2-tails-spinner .ui-widget-content .ui-icon {
   background-image: url(../img/ui-icons_222222_256x240.png);
}
#rg2-tails-spinner .ui-widget-header .ui-icon {
   background-image: url(../img/ui-icons_222222_256x240.png);
}
#rg2-tails-spinner .ui-state-default .ui-icon {
   background-image: url(../img/ui-icons_888888_256x240.png);
}
#rg2-tails-spinner .ui-state-hover .ui-icon,
#rg2-tails-spinner .ui-state-focus .ui-icon {
   background-image: url(../img/ui-icons_454545_256x240.png);
}
#rg2-tails-spinner .ui-state-active .ui-icon {
   background-image: url(../img/ui-icons_454545_256x240.png);
}
#rg2-tails-spinner .ui-state-highlight .ui-icon {
   background-image: url(../img/ui-icons_2e83ff_256x240.png);
}

#rg2-tails-spinner .ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
   background-image: url(../img/ui-icons_cd0a0a_256x240.png);
}

/* allow close button on dialog to be hidden
 * see http://api.jqueryui.com/dialog
 */
.no-close .ui-dialog-titlebar-close {
   display: none;
}

/*
 * prevent selection of objects everywhere
 */
body {
   -ms-user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -webkit-touch-callout: none;
   -webkit-user-drag: none;
   user-select: none;
}

.manage-input {
   /* margin-top: 3px; */
   /* margin-right: 3px; */
   width: 180px;
   line-height: 1.25;
}

.manage-label {
   margin-left: 3px;
}

#rg2-draw label {
   margin-left: 3px;
}

.no-top-margin {
   margin-top: 0;
   margin-bottom: 2px;
}
/*
#rg2-manage-create {
   padding-right: 5px;
}

#rg2-manage-create div, #rg2-manage-map div, #rg2-manage-edit div {
   margin-top: 5px;
}
*/
#rg2-info-panel-tab-body .manage-file-input {
   margin-top: 4px;
   margin-bottom: 4px;
   width: 100%;
   box-sizing: border-box;
}

.manage-file-input-div {
   /* height: 41px; */
   margin-left: 3px;
}

.manage-file-input {
   overflow: hidden;
}

.manage-file-label {
   margin-top: 9px;
   margin-bottom: 9px;
}

.manage-edit-div, .manage-select-div , .manage-checkbox-div {
   /* height: 26px; */
   /* line-height: 1.25em; */
   margin: 2px 0;
   padding: 2px 3px;
   overflow: hidden;
   vertical-align: middle;
}

.manage-edit-div label, .manage-edit-div input,
.manage-select-div label, .manage-select-div input,
.manage-checkbox-div label, .manage-checkbox-div input {
   display: inline;
}

.manage-edit-div label,
.manage-select-div label {
   width: 80px;
}

/*
#manage-edit-options input[type="text"] {
   width: 220px;
}

#manage-edit-options .ui-accordion-content {
   padding: 1em 0.5em;
}
*/
#rg2-option-controls {
   z-index: 100;
}
#rg2-option-controls input[type="checkbox"] {
   margin-left: 10px;
   margin-top: 10px;
   float: right;
}

#rg2-draw button.ui-button {
   margin: 2px 1px;
}
#rg2-draw button.ui-button,
#rg2-manage-login button.ui-button,
#rg2-manage-create button.ui-button,
#rg2-manage-edit button.ui-button,
#rg2-manage-map button.ui-button {
   width: 120px;
   width: 48%;
}

/*
#rg2-edit-event-comments {
   width: 100%;
   height: 50px;
}
*/
#rg2-event-selected,
#rg2-route-selected {
   width: 100%;
}

.social-buttons-div {
   text-align: center;
   position: relative;
   padding: 10px;
   line-height: 12px;
}

.fb-share-button {
   margin-left: 10%;
}

.twitter-follow-button {
   margin-bottom: 18px;
   margin-right: 5%;
}

#movie-table .deleteroute {
   cursor: pointer;
   margin-left: 2px;
}

#movie-table .name-div {
   display: inline;
}

#rg2-info-panel input[type="checkbox"] {
   margin: 2px 5px 2px 5px;
   vertical-align: middle;
}
/* Search Filter */
span.input-group-addon:first-child {
   border-right: 0;
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
}
input.rg2-event-search:last-child,
input.rg2-result-search:last-child,
span.input-group-addon:last-child {
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}
span.input-group-addon {
   padding: 5px 12px;
   font-size: 14px;
   font-weight: normal;
   line-height: 1;
   color: #555555;
   text-align: center;
   background-color: #eeeeee;
   border: 1px solid #cccccc;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
   display: table-cell;
   border-collapse: separate;
}
#rg2-event-search, #rg2-result-search {
   margin: 0 0 5px 0;
   display: table;
}
input.rg2-event-search,
input.rg2-result-search {
   z-index: 81;
   float: left;
   width: 100%;
   width: -webkit-fill-available;
   width: -moz-available;
   width: stretch;
   line-height: normal;
   margin: 0;
   box-sizing: border-box;
   padding: 5px 12px;
   color: #555555;
   background-color: #ffffff;
   background-image: none;
   border: 1px solid #cccccc;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}

#rg2-select-course, #rg2-select-name, #rg2-enter-name, #rg2-enter-name div, #rg2-enter-comment {
   width: 100%;
   line-height: 1.5em;
   vertical-align: middle;
   /* margin: 2px 0; */
   display: inline-block;
}
#rg2-enter-name div {
   margin: 2px 0;
}
/*
#rg2-course-select, #rg2-name-select {
   float: right;
   min-width: 160px;
   max-width: 160px;
}
*/
#rg2-enter-name input {
   min-width: 120px;
   max-width: 120px;
}
/*
#rg2-offset-spinner input {
   width: 100%;
   line-height: 17px;
   padding: 3px 0 2px 6px;
   margin: 0;
}
*/
#rg2-offset-spinner {
   /* width: 60px; */
   display: inline-block;
   margin: 2px 1px;
   clear: both;
   /* box-sizing: content-box; */
}

#rg2-draw .ui-button-text-only .ui-button-text {
   padding: .3em 0.5em;
}

#rg2-world-file {
   padding: .3em 0;
}
#rg2-world-file p {
   margin: 0;
   padding: 0;
   line-height: 1.5em;
}

#rg2-info-panel-tab-body .ui-tabs-panel {
   padding: 10px 5px;
}
#rg2-manage-login.ui-tabs-panel {
   padding: 10px 20px;
}
#rg2-draw .ui-accordion-content,
#rg2-manage-create .ui-accordion-content,
#rg2-manage-edit .ui-accordion-content,
#rg2-manage-map .ui-accordion-content {
   padding: 10px 10px;
}

/* FlexBox fallback*/

#rg2-header-container {
   /* display: inline-block; */
   height: 92px;
}
#rg2-header-title {
   z-index: 100;
   /* display: block; */
   min-width: 150px;
}
#rg2-resize-info {
   position: absolute;
   vertical-align: middle;
   margin-right: 8px;
   z-index: 100;
}
#rg2-header {
   position: absolute;
   display: inline-block;
   top: 30px;
   left: 0;
   z-index: 90;
}
#rg2-header-club {
   position: absolute;
   display: inline-block;
   top: 0;
   left: 35px;
   z-index: 50;

}
#rg2-header-buttons {
   min-width: 310px;
   position: absolute;
   left: 0;
   right: 0;
   top: 60px;
   z-index: 90;
}

#rg2-hide-info-panel-control a {
   text-decoration: none;
}

.social-buttons-div {
   text-align: center;
   position: relative;
   padding: 10px;
   line-height: 12px;
}

.fb-share-button {
   margin-left: 10%;
}

.twitter-follow-button {
   margin-bottom: 18px;
   margin-right: 5%;
}

@media all and (min-width: 360px) {
   #rg2-header-container {
      height: 62px;
   }
   #rg2-hide-info-panel-control {
      visibility: visible;
   }
   #rg2-header {
      position: relative;
      top: 0;
      left: 35px;
      width: 60%;
      width: calc(70% - 38px);
      margin-top: -4px;
   }
   #rg2-header-club {
      position: relative;
      top: 0;
      left: 35px;
      width: 30%;
      margin-top: -4px;
      text-align: right;
   }
   #rg2-header-buttons {
      top: 30px;
   }
}

@media all and (min-width: 640px) {
   #rg2-header-container {
      height: 30px;
   }
   #rg2-header-title {
      width: 54%;
      width: calc(100% - 340px);
   }
/*
   #rg2-header {
      width: 50%;
   }
   #rg2-header-club {
      width: 10%;
   }
*/
   #rg2-header-buttons {
      border-top: 0;
      left: auto;
      top: 0;
   }
}
